body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  margin: 5%;
  box-shadow: -1px 0px 49px 7px rgb(232, 232, 232);
  border-radius: 10px;
  padding: 2% 5%;
  border: 0px;
}
.card .list {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.card .list li {
  padding: 10px;
  border-bottom: 1px solid rgb(230, 227, 227);
}
.card .table .post-text {
  max-width: 50vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card .table .action {
  text-align: center;
}
.card .table .action button {
  margin: 2px;
}/*# sourceMappingURL=index.css.map */