body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    // width: 80vw;
    margin: 5%;
    -webkit-box-shadow: -1px 0px 49px 7px rgba(232, 232, 232, 1);
    -moz-box-shadow: -1px 0px 49px 7px rgba(232, 232, 232, 1);
    box-shadow: -1px 0px 49px 7px rgba(232, 232, 232, 1);
    border-radius: 10px;
    padding: 2% 5%;
    border: 0px;

    .list {
        margin: 0px;
        list-style-type: none;
        padding: 0px;
        li {
            padding: 10px;
            border-bottom: 1px solid rgb(230, 227, 227);
        }
    }

    .table {
        .post-text {
            max-width: 50vw;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .action {
            text-align: center;
            button {
                margin: 2px
            }
        }
    }

    // .table {
    //     width: 100%;
    //     .header {
    //         th {
    //             text-align: left;
    //             border-bottom:  1px solid rgb(230, 227, 227);
    //             margin-bottom: 10px;
    //         }
    //     }
    //     .body {
    //         td {
    //             &.post-text {
    //                 display: inline-block; // This is what you're missing
    //                 max-width: 50vw;
    //                 overflow: hidden;
    //                 white-space: nowrap;
    //                 text-overflow: ellipsis;
    //             }

    //             &.action {
    //                 text-align: center;
    //             }
    //         }
    //     }
    // }
}
